<% include header %>
<main><% for (var i = 0; i < items.length; i++) { %>
	<% if (items[i].category.indexOf(category[id]) !== -1) { %>
		<section>
				<a href=/blog/<%- items[i].id %>>
					<h2><%- items[i].titel %></h2>
					<img class="feature-img" src="/images/<%- items[i].pictureS %>" srcset="/images/<%- items[i].picture %> 1000w" alt="<%- items[i].titel %>">
				</a>
		</section>
	<% } %>
<% } %></main>
<% include footer %>