<% include header %>
<% for (var i = 0; i < items.length; i++) { %>
	<% if (items[i].category.indexOf(category[id]) !== -1) { %>
		<section>
				<h2><a href=/blog/<%- items[i].id %>><%- items[i].titel %></a></h2>
				<img src="/images/<%- items[i].picture %>" alt="<%- items[i].titel %>">
				<p><%- items[i].datum %></p>
				<p><%- items[i].samenvatting %></p>
		</section>
	<% } %>
<% } %>
<% include footer %>