<% include header %>
<section class="single">
	<img src="/images/<%- item.picture %>" alt="<%- item.titel %>">
	<h2><%- item.titel %></h2>
	<p class="time-stamp"><i class="fa fa-clock-o time" aria-hidden="true"></i><%- item.datum %></p>
	<p class="single-body"><%- item.body %></p>
	<div class="categories"><i class="fa fa-folder-open category" aria-hidden="true"></i>
	<% for (var i = 0; i < item.category.length; i++){ %>
		<a href="/category/<%- i %>"><%- item.category[i] %></a><% if (i+1< item.category.length){ %>, <% } %>
	<% } %>
	</div>
	<div class="tags"><i class="fa fa-hashtag hashtag" aria-hidden="true"></i>
	<% for (var i = 0; i < item.tags.length; i++){ %>
		<a href="/tags/<%- i %>"><%- item.tags[i] %></a><% if (i+1< item.tags.length){ %>, <% } %>
	<% } %>
	</div>
</section>
<% include footer %>